a {
    color: black;
    text-decoration: black;
}

.inline.left {
    height: auto;
    float: left;
    display: inline;
}

.inline.right {
    height: auto;
    float: right;
    display: inline;
}

.tdcenter {
    text-align: center;
    width: 400px;
}
fieldset {
    width: auto;
    height:auto;
    border: 3px solid #ccc;
}